<header>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="assets/img/cutlery.png" />WSF Lunch
            </a>
        </div>

        <div>
            <ul class="navbar-nav">
                <li>
                    <a href="">Restaurants</a>
                </li>
                <li>
                    <a href="connection/"><img src="assets/img/profil.png">Mon compte/Connexion</a>
                </li>

            </ul>
        </div>
    </nav>
</header>

<router-outlet></router-outlet>


<!-- Footer -->
<footer class=" bg-light navbar-light">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#">WSF-Lunch.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->