<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <h2>
        WSF Lunch

    </h2>
    <div class="containter-fluid">
        <ul class="navbar-nav">
            <li>
                <a href="">Restaurants</a>
            </li>
            <li>
                <a href="connection/">Connexion</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <router-outlet></router-outlet>
        <div class="col-xs-12">
        </div>
    </div>
</div>