<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <!--<h2>
      <img src="assets/img/cutlery.png" /> WSF Lunch
    </h2>-->

  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <img src="assets/img/cutlery.png" />WSF Lunch
    </a>
  </div>

  <div class="containter-fluid">
    <ul class="navbar-nav">
      <li>
        <a href="">Restaurants</a>
      </li>
      <li>
        <a href="connection/"><img src="assets/img/profil.png">Mon compte/Connexion</a>
      </li>

    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">

    <router-outlet></router-outlet>
    <div class="col-xs-12">
    </div>
  </div>
</div>
