<div class="container mt-2">
    <ul class="list">
        <li class="text-black bg-light p-2 rounded">
            <a href="fast-food/"><img src="assets/img/fast-food.png" alt="fastfood">Fast-food</a>
        </li>
        <li class="text-black bg-light p-2 rounded">
            <a href=""><img src="assets/img/asian-food.png" alt="asianFood">Asian-food</a>
        </li>
        <li class="text-black bg-light p-2 rounded">
            <a href=""><img src="assets/img/african-food.png" alt="africanFood">African-food</a>
        </li>
        <li class="text-black bg-light p-2 rounded">
            <a href=""><img src="assets/img/vegan-food.png" alt="veggieFood">Veggie</a>
        </li>
        <li class="text-black bg-light p-2 rounded">
            <a href=""><img src="assets/img/autres.png" alt="otherFood">Autres</a>
        </li>
    </ul>
</div>