<!-- Fast-food card -->

<app-bar></app-bar>


<div class="all">
    <div class="containerFood">
        <img src="assets/img/fabriqueBurger.jpg" alt="Fabrique Burger" />
        <div class="info">
            <p class="name2">La fabrique Burger Gourmet & Grill</p>
            <p>Spécialités : Burger et grillades</p>
            <p>Auncune offres</p>
            <div class="trait"></div>
            <div class="rating">
                Note Moyenne
                <a href="#1">☆</a>
                <a class="less" href="#2">☆</a>
                <a class="less" href="#3">☆</a>
                <a class="less" href="#4">☆</a>
                <a class="less" href="#5">☆</a> (20 avis)
            </div>
            <div class="km">
                A 10min de l'école
                <img class="distance" src="assets/img/go.png" alt="distanceEcole" />
            </div>
            <button class="btn"> <a class="link" href="http://www.freeresto.com/lafabrique" target=_blank> Aller sur le site</a></button>
        </div>
    </div>

    <div class="containerFood">
        <img src="assets/img/pita.jpg" alt="Fetapita" />
        <div class="info">
            <p class="name">Fetapita</p>
            <p>Spécialités : pains pita,salade grecque</p>

            <p>Formule : 9,50€ </p>
            <div class="trait"></div>
            <div class="rating">
                Note Moyenne
                <a href="#1">☆</a>
                <a href="#2">☆</a>
                <a class="less" href="#3">☆</a>
                <a class="less" href="#4">☆</a>
                <a class="less" href="#5">☆</a> (112 avis)
            </div>
            <div class="km">
                A 2min de l'école
                <img class="distance" src="assets/img/go.png" alt="distanceEcole" />
            </div>
            <button class="btn2" class="btn"> <a class="link" href="https://fetapita.fr/" target=_blank> Aller sur le site</a></button>
        </div>
    </div>

    <div class="containerFood">
        <img src="assets/img/tableAfghane.jpg" alt="Afghane" />
        <div class="info">
            <p class="name"> Table Afghane</p>
            <p>Spécialités : Crêpes salées/sucrées, tacos</p>
            <p>Menu étudiant : 4,50€ </p>
            <div class="trait"></div>
            <div class="rating">
                Note Moyenne
                <a href="#1">☆</a>
                <a class="less" href="#2">☆</a>
                <a class="less" href="#3">☆</a>
                <a class="less" href="#4">☆</a>
                <a class="less" href="#5">☆</a> (5 avis)
            </div>
            <div class="km">
                A 2min de l'école
                <img class="distance" src="assets/img/go.png" alt="distanceEcole" />
            </div>
            <button id="btn2" class="btn"> <a class="link" href="https://www.latableafghane.fr/" target=_blank></a> Aller sur le site</button>
        </div>
    </div>



</div>


<div class="all2">
    <div class="containerFood2">
        <img src="assets/img/valentino.jpg" alt="Valentino restaurant" />
        <div class="info">
            <p class="name"> Valentino </p>
            <p>Spécialités : Pizza </p>
            <p> Aucunes offres </p>
            <div class="trait"></div>
            <div class="rating">
                Note Moyenne
                <a href="#1">☆</a>
                <a class="less" href="#2">☆</a>
                <a class="less" href="#3">☆</a>
                <a class="less" href="#4">☆</a>
                <a class="less" href="#5">☆</a> (20 avis)
            </div>
            <div class="km">
                A 4min de l'école
                <img class="distance" src="assets/img/go.png" alt="distanceEcole" />
            </div>
            <button class="btn"> Aller sur le site</button>
        </div>
    </div>

</div>