<h2>Les favoris du moment : </h2>


<div class="all">
    <div class="containerFood">
        <img src="assets/img/dominos.jpg" />
        <div class="info">
            <p class="name">Domino's Pizza</p>
            <p>Spécialités : Pizza, cal'z</p>
            <p>Offres spéciales mardi & jeudi : Pizza 7,99€</p>
            <div class="trait"></div>
            <div class="rating">
                Note Moyenne
                <a href="#1">☆</a>
                <a href="#2">☆</a>
                <a href="#3">☆</a>
                <a href="#4">☆</a>
                <a class="less" href="#5">☆</a>
            </div>
            <div class="km2">
                A 2min de l'école
                <img class="distance" src="assets/img/go.png" />
            </div>
            <button class="btn">Les commentaires</button> <button class="btn">Aller sur le site </button>
        </div>
    </div>
    <div class="containerFood">
        <img src="assets/img/mrBeef.jpg" />
        <div class="info">
            <p class="name"> Mr.Beef</p>
            <p>Spécialités : Hamburger, plats, salades</p>
            <p>Aucunes offres</p>
            <div class="trait"></div>
            <div class="rating">
                Note Moyenne
                <a href="#1">☆</a>
                <a href="#2">☆</a>
                <a href="#3">☆</a>
                <a href="#4">☆</a>
                <a class="less" href="#5">☆</a>
            </div>
            <div class="km">
                A 3min de l'école
                <img class="distance" src="assets/img/go.png" />
            </div>
            <button class="btn">Les commentaires</button> <button class="btn">Aller sur le site </button>
        </div>
    </div>
    <div class="containerFood">
        <img src="assets/img/crepeway.jpg" />
        <div class="info">
            <p class="name">Crêpe Way</p>
            <p>Spécialités : Crêpes salées/sucrées, tacos</p>
            <p>Menu étudiant : 4,50€ </p>
            <div class="trait"></div>
            <div class="rating">
                Note Moyenne
                <a href="#1">☆</a>
                <a href="#2">☆</a>
                <a href="#3">☆</a>
                <a href="#4">☆</a>
                <a class="less" href="#5">☆</a>
            </div>
            <div class="km">
                A 4min de l'école
                <img class="distance" src="assets/img/go.png" />
            </div>
            <button class="btn">Les commentaires</button> <button class="btn">Aller sur le site </button>

        </div>
    </div>

</div>