    /* Category of food selection */
    /*baniere intro*/
    
    .jumbotron {
        background-image: url('https://images.unsplash.com/photo-1547573854-74d2a71d0826?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
        background-size: cover;
        height: 85vh;
        margin-bottom: 0;
        text-align: center;
    }
    
    .introduction {
        margin-top: 14%;
        font-weight: bolder;
        color: white;
        text-shadow: 2px 2px black;
    }
    /* Picture and form */
    
    .choise {
        display: flex;
        flex-direction: row;
        margin-left: 350px;
    }
    
    .choise img {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    select {
        margin-left: 30px;
        border-radius: 10px;
        margin-top: 40px;
    }
    
    fieldset {
<<<<<<< HEAD
        font-size: 18px;
        margin-left: 90px;
        margin-top: 20px;
=======

      font-size: 18px;
      margin-left: 90px;
      margin-top: 20px;

>>>>>>> f913f1642e210ec3763323b2f0b812ded5446297
    }
    
    .studentmenu {
        margin-left: 15px;
    }
    
    .category {
<<<<<<< HEAD
        margin-top: 100px;
        margin-bottom: 100px;
        background-color: #FAEBD7;
        width: 40%;
=======

      margin-top: 100px;
      margin-bottom: 100px;
      background-color: #FAEBD7;
      width: 100%;
>>>>>>> f913f1642e210ec3763323b2f0b812ded5446297
    }
    
    .priceCursor {
        margin-left: 20px;
    }
    /* price */
    
    .min {
        margin-top: 20px;
        margin-left: 20px;
        width: 20%;
        border-radius: 10px;
        flex-direction: row;
    }
    
    .price {
        margin-top: 40px;
    }
    /* stars of comments */
    
    .comments {
        margin-top: 10px;
        margin-left: 20px;
    }
    
    .stars {
        font-size: 30px;
        margin-left: 50px;
        text-decoration: none;
        color: black;
    }
    
    .stars:hover {
        color: #FF7F50;
    }
<<<<<<< HEAD
    
    button {
        margin-top: 20px;
        margin-left: 100px;
        margin-bottom: 10px;
    }
=======


>>>>>>> f913f1642e210ec3763323b2f0b812ded5446297
