<h2>Retrouvez dès maintenant les restaurants alentours de la Webschool </h2>

<h3>Selectionner la catégorie de votre choix </h3>




<div class="container mt-2">
    <ul class="list">
        <li class="text-black bg-light p-2 rounded"><a href="">Hamburgeur</a></li>
        <li class="text-black bg-light p-2 rounded"><a href="">Pizza</a></li>
        <li class="text-black bg-light p-2 rounded"><a href="">Chinois</a></li>
        <li class="text-black bg-light p-2 rounded"><a href="">Grec</a></li>
        <li class="text-black bg-light p-2 rounded"><a href="">Crêpes salées</a></li>

    </ul>

</div>

<div class="choise">
    <img src="assets/img/lunch.jpg" />

    <div class="category">

        <form [formGroup]="filterForm">
            <fieldset>Filtrez votre envie avec plus de précision</fieldset>
            <label class="studentmenu">
                <input type="checkbox"> Menu étudiant
                </label>
            <select formControlName="filterControl">
            <option value="food" *ngFor="let food of foods" >
                {{food.type}}</option>

</select>

        </form>

        <!--<label class="studentmenu">
<input type="checkbox"> Menu étudiant
</label>-->
        <div class="price">

            <p class="priceCursor">Fourchette de prix </p>

            <div class="amount">



                <label for="price">

               <input type="texte" class="min" placeholder="Prix min">  à<input type="texte" class="min"placeholder="Prix max">

           </label>

            </div>

        </div>

    </div>

</div>